.card {
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 2px solid hsl(30, 100%, 20%);
    border-radius: 5px;
    background-color: hsl(30, 77%, 61%);
    margin: 5px;
    padding: 5px;
}