.card {
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 2px solid hsl(30, 100%, 20%);
    border-radius: 10px;
    background-color: hsl(30, 77%, 61%);
    margin: 5px;
    padding: 5px;
}

.card-favorited{
    background-color: hsl(25, 77%, 61%);
}

.card-interacted {
    background-color: hsl(35, 77%, 61%);
}
